@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/cruise";

/**
* Global Variable 
*/

/**
* Global Mixins 
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}


/**
* Global Styles 
*/

body{
    background-color: #d6d6d6;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
}

nav{
    .container{
        padding-left: 0;
        .navbar-brand{
        @media (max-width: 767px) {
          margin-left:4%;
        }
        }
    }
}


.content {
    text-align: center;
    display: inline-block;
}