$square: 10px;
$color: #bb7100;

@mixin triangle($direction, $sizeH, $sizeV, $color) {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  -moz-transform: scale(.9999);
  @if $direction == topleft {
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}

.topleft {
  @include triangle(topleft, $square, $square, $color);
}

.row {
  @media (max-width: 767px) {
            max-width: 340px;
            margin: 2% auto 0;
        }
  .cruiseWrap {
    margin: 4% auto;
    max-width: 940px;
    padding: 0;
    @media (max-width: 767px) {
         margin-top: 12%;
        }

    h1 {
      font-size: 36px;
      font-family: "Lato";
      font-weight: 600;
      line-height: 1.2em;
      margin: 2% 0 0;

      small {
        font-size: 16px;
        font-weight: 600;
        color: #3c3c3c;
        font-style: italic;
        margin-left: 16px;
        @media (max-width: 767px) {
          float: left;
        }
      }
    }
    ul.salingsWrap {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(12);
      margin-top: 2%;
      list-style: none;
      max-width: 940px;
      padding: 0;
      margin: 32px 0 0 0;

      li.cruise-section {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(4);
        @include make-lg-column(4);
        padding: 0;
        margin: 0 5px 0 0;
        @media(min-width: 1200px) {
          max-width: 310px;
        }
        @media(min-width: 768px) and (max-width: 991px){
          min-width: 770px;
        }
        @media (max-width: 767px) {
          max-width: 310px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        .startingPrice {
          height: 73px;
          width: 120px;
          background-color: #ff9900;
          padding: 6px 9px 12px 9px;
          float: none;
          position: absolute;
          right: 0px;
          top: 34px;
          z-index: 1;
          @media(min-width: 768px) and (max-width: 991px) {
            z-index: 1;
            top: 16px;
            right: -11px;
          }

          .description {
            font-size: 0.75em;
            font-weight: 400;
            width: 100%;
            text-align: left;
            margin-bottom: 0;
            line-height: 12px;
          }

          .price {
            font-size: 40px;
            font-weight: 800;
            text-align: right;
            width: 100%;
            margin-bottom: 0;
            line-height: 48px;
          }

          span.topleft {
            display: inline-block;
            margin: 4px auto;
            position: absolute;
            right: 1px;
            bottom: -14px;
          }
        }

        article {
          @include make-xs-column(12);
          @include make-sm-column(12);
          @include make-md-column(12);
          @include make-lg-column(12);
          background-color: #ffffff;
          float: left;
          width: 100%;
          margin-bottom: 20px;
          @media(max-width: 767px) {
            max-width: 300px;
            margin-bottom: 20px;
            float: left;
            padding-left: 0;
          }
          @media(min-width: 768px) and (max-width: 991px) {
            margin-bottom: 20px;
            float: left;
            padding: 0;
          }
          @media(min-width: 992px) and (max-width: 1199px) {
            margin-bottom: 20px;
            float: left;
            width: 100%;
          }
          @media(min-width: 1200px) {
            max-width: 300px;
            padding: 0;
          }
          img {
            @media(min-width: 768px) and (max-width: 991px) {
              max-width: 40%;
              max-height: 230px;
              float: left;
            }
          }

          footer.cruiseFooter {
            padding: 10px 23px 20px 12px;
            @media(min-width: 768px) and (max-width: 991px) {
                width: 48%;
                float: left;
                margin-top: 26px;
                margin-left: 20px;
              }
            p {
              font-size: 0.75em;
              margin: 0 0 10px 0;
              @media(min-width: 992px) and (max-width: 1199px) {
                margin-top: 30px;
              }
            }

            h3 {
              margin: 0 0 16px 0;
              font-weight: 600;
              font-size: 1.75em;
              line-height: 30px;
            }

            .radio {
              margin: 0 0 4px;

              label {
                .title {
                  line-height: 20px;
                }
              }
              .price {
                float: right;
                font-weight: 600;
                color: #ff9900;
              }
            }
          }

        }
      }
    }

    hr {
      float: left;
      position: relative;
      width: 100%;
      border-top: 3px solid #ababab;
      margin: 30px 0 4px;
      @media(min-width: 768px) and (max-width: 991px){
          margin-bottom: 0px;
          min-width: 770px;
        }
        @media (max-width: 767px) {
            margin-bottom: 0px;
        }
    }

    .total {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(12);
      margin: 0;
      padding: 0 0 0 14px;
         @media(min-width: 768px) and (max-width: 991px){
            background-color: #fff;
            min-width: 770px;
        }
        @media (max-width: 767px) {
            background-color: #fff;
            padding-left: 6px;
        }
      h2 {
        font-size: 1.75em;
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 1.02em;
            margin: 2% 0;
          line-height: 40px;
        }
        span {
          float: right;
          height: 40px;
          width: 120px;
          background-color: #ff9900;
          padding: 9px 9px 12px 9px;
          font-size: 1.02em;
          line-height: .75em;
          font-weight: 700;
          text-align: right;
           @media (max-width: 767px) {
            font-size: 1.5em;
            line-height: 1.0em;
           }
          i{
              font-style: normal;
          }
        }
      }
    }
  }
}



